* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin-top: -40px;
}

.brand-title {
    font-size: 1.5rem;
    color: white;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}
.navbar-links .dropdown-content {
    list-style: none;
    display: none;
}



.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    margin: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .navbar-links ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
        margin: 10px 0;
    }

    .navbar-links.active ul {
        display: block;
    }

    .toggle-button {
        display: flex;
    }
}
.clock-container {
    color: white;
   
    
}

.time {
    text-align: left;
    font-size: 30px;
    color: black;
    
}

.date {
 text-align: right;
 font-size: larger;
color: rgb(50, 23, 4);
font-weight: 500;
}
.greeting-container {
    text-align:left ;
}

.greeting {
    font-size: 2.5rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.change-greeting-btn {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-greeting-btn:hover {
    background-color: #21a1f1;
}